<div>
  <div ng-transclude></div>

  <nav class="text-center">
    <ul class="pagination">
      <li ng-class="{disabled: page == 1}">
        <span ng-click="page > 1 && setPage(page - 1)">
          <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
        </span>
      </li>
      <li ng-repeat="p in pages track by $index" ng-class="{active: p == page, disabled: !p}">
        <span ng-if="p" ng-click="setPage(p)">{{p}}</span>
        <span ng-if="!p">...</span>
      </li>

      <li ng-class="{disabled: page == lastPage}">
        <span ng-click="page < lastPage && setPage(page + 1)">
          <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
        </span>
      </li>
    </ul>
  </nav>
</div>
