<div class="page-header">
  <h1 class="text-center">find hackage <small>advanced hackage search</small></h1>
  <div class="text-center" ng-show="total">hackage has {{total}} packages<span ng-show="updated"> as of {{updated | date:'short'}}.</span></div>
</div>

<form ng-submit="search()">
  <div class="row">
    <div id="index-search-box" class="col-xs-offset-1 col-xs-10">
      <search-box ng-model="navBar.query" error="error"></search-box>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-default">Search</button>
    <button type="button" ng-click="imFeelingLucky()" class="btn btn-default">I'm Feeling Lucky</button>
  </div>
</form>

<div class="well help">
  <p>you can use elasticsearch <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax">query string syntax</a>.
  </p>

  <p>fields: name, version, license, copyright, maintainer, author, stability, homepage, bugReports, synopsis, description, category, hasLibrary, executable, deprecated, hasExecutable, inFavourOf, ngram.name, ngram.synopsis, ngram.description, raw.name, raw.license, raw.category</p>
</div>
